body {
    text-align: center;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: pink;
}
#canvas {
    width: 1000px;
    height: 350px;
    border: 3px transparent;
    display: inline-block;
    margin: 10px;
}
.body-segment {
    height: 45px;
    width: 45px;
    display: inline-block;
    border-radius: 100px;
    margin-top: 130px;
    margin-left: -15px;
    background-color: yellow;
    transition: all 250ms ease-in-out;
}
#caterpillar-head {
    height: 150px;
    width: 150px;
    margin-top: 50px;
    margin-right: -30px;
}
.color-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
    width: 110px;
    height: 110px;
    margin: 10px;
}
.dance-button {
    height: 85px;
    width: 85px;
    display: inline-block;
    border-radius: 100px;
    margin: 25px;
    background-color: yellow;
}
.random-button {
    height: 85px;
    width: 105px;
    font-weight: bold;
    /* border-radius: 100px; */
    border: 19px solid firebrick;
    margin: 25px;
    background-color: yellow;
}
.firebrick {
    border: 19px solid firebrick;
}
.darkgoldenrod {
    border: 19px solid darkgoldenrod;
}
.darkmagenta {
    border: 19px solid darkmagenta;
}
.slateblue {
    border: 19px solid slateblue;
}
.teal {
    border: 19px solid teal;
}
.apple {
    border: 19px solid firebrick;
}
.starfruit {
    border: 19px solid darkgoldenrod;
}
.pomegranite {
    border: 19px solid darkmagenta;
}
.plum {
    border: 19px solid slateblue;
}
.coconut {
    border: 19px solid teal;
}
.text-1 {
    color: firebrick;
}
.text-2 {
    color: darkgoldenrod;
}
.text-3 {
    color: darkmagenta;
}
.text-4 {
    color: slateblue;
}
.text-5 {
    color: teal;
}


.dance {
    position: relative;
    transform: translateY(-40px);
    /* transform: translate3d(-10px, 0px, 10px) */
}
